<%= form_for(@purchaser) do |f| %>
  <% if @purchaser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchaser.errors.count, "error") %> prohibited this purchaser from being saved:</h2>

      <ul>
      <% @purchaser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Select a file' %><br />
    <%= f.file_field :purchasers %>
  </div>
  <div class="actions">
    <%= f.submit "Upload Data" %>
  </div>
<% end %>
